= csrf_meta_tag
%h1  
  Пользователь 
  =h @current_user.login

%table.card
  %tr
    %th
      Логин:
    %td
      =h @current_user.login
  %tr
    %th
      Email:
    %td
      =h @current_user.email

.actions
  = link_to "Редактировать", :action => 'edit'
  = link_to "Сменить пароль", edit_password_path
  = link_to 'Выход', user_session_path, { :method => :delete }


