 <html><head><title>Test</title>
<%= raw(GMap.header(:with_vml => false, :host => request.host).html_safe) %>
<%= raw(@map.to_html) %>
</head><body>
<%= raw(@map.div(:width => 600, :height => 400)) %>
</body></html>

