.actions
  =link_to 'Долги >', :action => 'show', :id => @human.id
  =link_to 'Debugging >', :action => 'test', :id => @human.id
  =link_to 'Плательщики >', :action => 'show_payers', :id => @human.id
  =link_to 'Жилье >', :action => 'show_housing', :id => @human.id
  =link_to 'Льготы >', :action => 'show_exemptions', :id => @human.id
  =link_to 'Тарифы >', :action => 'show_tariffs', :id => @human.id      
  =link_to 'История >', :action => 'show_histories', :id => @human.id
      